<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            ntbloom.com
        </title>
        <link rel="stylesheet" href="../static/menu.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800i" rel="stylesheet">

    </head>

    <body>
    <h1 class="selector">
        please select your site:
    </h1>
    <p class="links" onclick="loadPage()">
    <script type=text/javascript>
        function loadPage() {
        window.location = "/drinkbase";
    }
    </script>
    <img src="../static/images/drinkBaseWhite.png" alt="drinkBase" style="height:75px;">
    </p>
    </body>
</html>
